@import "sass/reset";
@import "sass/settings";
@import "sass/helpers";
@import "sass/editor";

body {
    font-family: $sans;
    color: $dark-gray;
}

.ii {
    float: right;
}
.bb {
    display: inline-block;
}
.logo {
    width: 84px;
}
.top-wrap {
    justify-content: space-between;
    padding: 12px;
    border-top: 4px solid $dark-gray;
}
.site-name {
    align-self: flex-start;
    padding: 0;
}
.bottom-wrap {
    margin: 12px 12px;
}
.nav-tools-wrap {
   
    padding: 6px 0 0 0;
    width: 60vw;
    justify-content: space-between;
}
.user-tools-quick {
    justify-content: flex-end;
}
.user-tools-quick > div {
    margin-left: 12px;
}
.common-actions {
    justify-content: center;
}
.common-actions .btn {
    margin: 0 12px 0 0;
}
.common-actions .btn:last-child {
    margin-right: 0;
}
.main {
    padding: 0 12px 12px 12px;
    width: 100%;
}
.main-container-wrap {
    margin-top: 12px;
}

.left-rail {
    .btn {
        margin-bottom: 12px;
        width: 52px;
        height: 52px;
        text-align: center;
    }
//    width: 224px;
//    padding: 12px;
//    margin-left: 12px;
//    background: $light-gray;
//    box-shadow: $box-shadow-bold-dark-gray;
}
.left-rail-divider {
    margin: 12px 0;
    background: #ccc;
    height: 1px;
    width: 100%;
}
.option-wrap {
    margin-bottom: 12px;
}
.option-wrap .fa {
    float: right;
/*    color: #999;*/
}
.edit-container {
    justify-content: center;
}
#frame {
    padding: 12px;
    border: 2px solid #333;
    width: 80%;
}
.post-submit-options {
    button {
        font-size: $font-size-small;
    }
}
.erase-on-focus {
    color: $gray;
}
.post-title {
   
    width: 80%;
    height: 40px;
    border: 2px solid $dark-gray;
    line-height: 36px;
    vertical-align: middle;
    box-shadow: 4px 4px 0px 0px $gray;
    margin: auto;
    margin-bottom: 12px;
    
    .label {
        width: 40%;
        height: 100%;
        background: $dark-gray;
        color: $white;
        text-align: center;
        display: inline-block;
    }
    input {
        -webkit-appearance: none;
        border:none;
        height: calc(100% );
        width: 60%;
        color: $dark-gray;
        text-indent: 12px;
        
    }
}
.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $shadow-gray;
}
.message-box {
    display: none;
    z-index: 10;
    
    @include centerize(fixed);
    
    width: 500px;
    padding: 50px;
    
    background: $blue;
    &.general {
        background: $white;
    }
    &.alert {
        background: $blue;
    }
    border: 2px solid $dark-gray;
    box-shadow: 4px 4px 0px 0px $dark-shadow-gray;
    
//    color: $dark-gray;
    color: $white;
    font-size: $font-size-large;
    text-align: center;
    
    .close-x {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        
        width: 22px;
        height: 22px;
        
        font-size: $font-size-small;
    }
}
.loading {
    display: none;
    color: $blue;
    z-index: 100;
    @include centerize(absolute);
}